<nav class="fixed-bottom navbar-light bg-dark text-center" >
    <div class="container-fluid">
      <small style="color:white">Condo Management System<sup>TM</sup> . &copy;Copyright 2021. All Rights Reserved.</small>
    </div>
  </nav>
