 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container-fluid">
     <a class="navbar-brand" href="#"><img src="/Assets/images/logo.png" style="width:50px;height:60px;"></a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         <li class="nav-item ">
           <% if (page=="main") { %>
           <a class="nav-link active" id="home" href="/home"> <i class="fas fa-home fa-lg"> </i> Home</a>
           <% } else { %>
           <a class="nav-link" id="home" href="/home"> <i class="fas fa-home fa-lg"> </i> Home</a>
           <% } %>
         </li>

       
         <% if(displayName) { %>
         <li class="nav-item">
           <a class="nav-link" href="/announcement"><i class="far fa-bell"></i></i> Announcements</a>
         </li>
         <%}%>
        <% if(displayName) { %>
        <li class="nav-item">
           <a class="nav-link" href="/workorder"><i class="fas fa-cogs fa-lg"></i> Work Orders</a>
         </li>
         <%}%>
         <% if(displayName) { %>
          <li class="nav-item">
             <a class="nav-link" href="/condoUnits"><i class="fas fa-building"></i> Condo Units</a>
           </li>
           <%}%>
           <% if(displayName) { 
            if(displayName.type=="Management") { %>
            <li class="nav-item">
               <a class="nav-link" href="/maintenanceRequestList"><i class="fas fa-tools"></i> Maintenance Requests</a>
             </li>
               <% } else { %>
             <li class="nav-item">
               <a class="nav-link" href="/maintenanceRequest"><i class="fas fa-tools"></i> Maintenance Request</a>
             </li>
              <% }} %>

               <% if(displayName) { 
            if(page="Management") { %>
            
            <% if (page=="renovationList" || page=="renovationRequest"  ) { %>
           <a class="nav-link active" id="aboutus" href="/renovationList"> <i class="fas fa-tools fa-lg"> </i> Renovation</a>
           <% } else { %>
           <a class="nav-link" id="aboutus" href="/renovationList"> <i class="fas fa-tools fa-lg"> </i> Renovation</a>
           <% } %>
              <% }} %>
           

      

           <li class="nav-item ">
           <% if (page=="about") { %>
           <a class="nav-link active" id="aboutus" href="/about"> <i class="fas fa-info fa-lg"> </i> About</a>
           <% } else { %>
           <a class="nav-link" id="aboutus" href="/about"> <i class="fas fa-info fa-lg"> </i> About</a>
           <% } %>
         </li>

          <li class="nav-item ">
           <% if (page=="parking") { %>
           <a class="nav-link active" id="aboutus" href="/parkingpermit"> <i class="fas fa-car fa-lg"> </i> Parking Permit</a>
           <% } else { %>
           <a class="nav-link" id="aboutus" href="/parkingpermit"> <i class="fas fa-car fa-lg"> </i> Parking Permit</a>
           <% } %>
         </li>

           <li class="nav-item ">
           <% if (page=="contact") { %>
           <a class="nav-link active" id="contact" href="/contact"> <i class="fas fa-phone fa-lg"> </i> Contact</a>
           <% } else { %>
           <a class="nav-link" id="contact" href="/contact"> <i class="fas fa-phone fa-lg"> </i> Contact</a>
           <% } %>
         </li>

          <% if(displayName) { %>
          <li class="navbar-text px-1 "><a href="/profile/" class="account-name"><i class="fas fa-lg fa-user"></i>&nbsp;&nbsp;&nbsp;<%= displayName.displayName %></a></li>

         <li class="nav-item">
           <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt fa-lg"></i> Logout</a>
         </li>
         <% } else { %>
         <li class="nav-item">
           <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt fa-lg"></i> Login</a>
         </li>
         <% } %>
       </ul>
     </div>
   </div>
 </nav>
 