<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12 mt-5">
      <div class="login bg-light " id="contentArea">
        <h4 class="display-6 text-center">Change Password</h4>

        <% if(messages.length> 0) { %>
          <div id="messageArea" class="alert alert-danger">
            <%= messages %>
          </div>
          <% } %>

            <form method="POST" id="changePasswordForm" novalidate class="mt-2">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12 ">
                    <input class="form-control" type="password" name="oldpassword" id="firstName"
                      placeholder="Current Password" required>
                  </div>

                </div>
              </div>
              <div class="form-group mt-3">
                <div class="row">
                  <div class="col-md-12">
                    <input type="password" class="form-control" id="email" name="newpassword" required value=""
                      placeholder="New Password">
                  </div>
                </div>
              </div>

              <div class="form-group mt-3">
                <div class="row">
                  <div class="col-md-12">
                    <input type="password" class="form-control" id="phone" name="renewpassword" required value=""
                      placeholder="Reenter New Password">
                  </div>
                </div>
              </div>




              <div class="text-end mt-3">
                <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
                <button id="cancelButton" type="reset" class="btn btn-warning"><i class="fas fa-undo fa-lg"></i>
                  Reset</button>
              </div>
            </form>




      </div>
    </div>
  </div>