<div class="container">
  <h2 class="text-light">Condo Units</h2>
  <table class="table  table-dark">
<thead>
  <tr>
    <th scope="col">Unit#</th>
    <th scope="col">Type</th>
    <th scope="col">Residence</th>
    <th scope="col">Vacancy</th>
    <th scope="col">Registered Occupancy</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">100</th>
   <td>Office</td>
   <td>-</td>
   <td>No</td>
   <td>0</td>
  </tr>

  <tr>
    <th scope="row">101</th>
   <td>Owned</td>
   <td>Yelena T.</td>
   <td>No</td>
   <td>3</td>
  </tr>

  <tr>
    <th scope="row">102</th>
   <td>Rental</td>
   <td>-</td>
   <td>Yes</td>
   <td>0</td>
  </tr>

  <tr>
    <th scope="row">103</th>
   <td>Owned</td>
   <td>Jessica W.</td>
   <td>No</td>
   <td>2</td>
  </tr>

  <tr>
    <th scope="row">104</th>
   <td>Owned</td>
   <td>Howie B.</td>
   <td>No</td>
   <td>3</td>
  </tr>
</tbody>

</table>
</div>
