<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12 mt-5">
      <div class="login bg-light" id="contentArea">
        <h1 class="display-4">Create Work order</h1>

        <form method="POST" class="row">
          <div class="row">
            <div class="col-md-12 ">
              <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
              <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_lUWMxx.json" background="transparent"
                speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
            </div>
          </div>
          <div class="form-group mt-3">
            <div class="row">
              <div class="col-md-12">
                <input type="text" class="form-control" id="unit#" name="unit" required placeholder="Unit #" />
              </div>
            </div>
          </div>

          <div class="form-group mt-3">
            <div class="row">
              <div class="col-md-12">
                <input type="date" class="form-control" id="date" name="date" required value="" />
              </div>
            </div>
          </div>

          <div class="form-group mt-2">
            <div class="row">
              <div class="col-md-12">
                <select class="form-select" aria-label="Worker" name="worker" required>
                  <option selected value="">Select a Worker</option>
                  <option value="James">James</option>
                  <option value="Bob">Bob</option>
                  <option value="Martin">Martin</option>

                </select>
              </div>
            </div>
          </div>

          <div class="form-group mt-2">
            <div class="row">
              <div class="col-md-12">
                <select class="form-select" aria-label="Default select example" name="status" required>
                  <option selected value="">Select a Priority</option>
                  <option value="High">High</option>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>

                </select>
              </div>
            </div>
          </div>

          <div class="form-group mt-2">
            <div class="row">
              <div class="col-md-12">
                <select class="form-select" aria-label="Default select example" name="priority" required>
                  <option selected value="">Select a status</option>
                  <option value="Pending">Pending</option>
                  <option value="Assigned">Assigned</option>
                  <option value="Resolved">Resolved</option>
                </select>
              </div>
            </div>
          </div>



          <div class="mb-3 mt-2">
            <textarea class="form-control" id="validationTextarea" name="description" placeholder="Brief Description"
              required></textarea>
          </div>

          <div class="text-end mt-3">
            <button id="submitButton" type="submit" class="btn btn-primary">
              Submit
            </button>
            <button id="cancelButton" type="reset" class="btn btn-warning">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>